body {
  font-family: Arial, sans-serif;
  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("/img/DSC_5983.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}


.container {
  background: white;
  max-width: 600px;
  margin: auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 12px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 12px;
  background: #1a73e8;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0b56b8;
}

.hidden {
  display: none;
}
